BasedOnStyle : LLVM

# Insert a blank line before a return statement
#BreakBeforeBraces: Allman

SeparateDefinitionBlocks: Always
NamespaceIndentation: All

# ColumnLimit: 0
# AlignAfterOpenBracket: AlwaysBreak
# AllowAllParametersOfDeclarationOnNextLine: false
# BinPackArguments: false
# BinPackParameters: false
IndentWidth: 2
#ContinuationIndentWidth: 2


# BinPackArguments: No
# BinPackParameters: No
# 
# # Aligns consecutive function parameters
# AlignAfterOpenBracket: true
# AlignConsecutiveAssignments: false
# AlignConsecutiveDeclarations: false
# 
# 
# # Penalty for breaking a function call after a call parameter




BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false 
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      true
  IndentBraces:    false
BreakBeforeBraces: Custom
