install_manifest.txt
cpm-package-lock.cmake
CPM_modules
CPM_modules/*
.cmake
Makefile
build/*
build/.*
DartConfiguration.tcl
config.toml
CMakeFiles
_CPack_Packages
CMakeCache.txt
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
libCommand.a
.vscode/*
compile_commands.json
.cache/*
_deps/
compile_commands.json
generated-includes/
