build/*
.cache
.cache/*
.cmake
Makefile
config.toml
CMakeFiles
CMakeCache.txt
cmake_install.cmake
libCommand.a
.vscode/*
compile_commands.json
.cache/*
_deps/*
compile_commands.json
generated-includes/
install_manifest.txt
