install_manifest.txt
CPM_modules
CPM_modules/*
.cmake
Makefile
build/*
DartConfiguration.tcl
config.toml
CMakeFiles
CMakeCache.txt
cmake_install.cmake
libCommand.a
.vscode/*
compile_commands.json
.cache/*
_deps/
compile_commands.json
generated-includes/
