set(PROJECT_NAME %<PROJECT_NAME>)

project(${PROJECT_NAME})

set(%<CXX_VERSION>)


set(SOURCE_DIR ${CMAKE_SOURCE_DIR}/src)
set(BUILD_DIR ${CMAKE_SOURCE_DIR}/build)


add_executable(${PROJECT_NAME} ${SOURCE_DIR}/main.cpp)

set_target_properties(${PROJECT_NAME} PROPERTIES RUNTIME_OUTPUT_DIRECTORY ${BUILD_DIR})
